/* HTML CSSResult Skip Results Iframe
EDIT ON */
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

.chat-button {
  position: fixed;
  right: 30px;
  bottom: 30px;

  display: inline-block;
  width: 64px;
  height: 64px;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  background-image: url("https://cdn-icons-png.flaticon.com/512/1653/1653630.png");
  background-size: contain;

  cursor: pointer;
}
